@font-face {
    font-family: mainfont;
    src: url(../font/Typo_Round_Bold_Demo.otf);
}

@keyframes fade-in {
    0% {
        scale: 50%;
        opacity: 0;
    }

    100% {
        scale: 100%;
        opacity: 1;
    }
}

body {
    background-image: linear-gradient(to left, rgb(34, 51, 62), rgb(37, 56, 74));
}

.name {
    font-family: mainfont;
    text-align: center;
    color: white;
    vertical-align: middle;
    animation-name: fade-in;
    animation-duration: 2s;
    transform: translate(0, 50px);
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 60px #fff,
                 0 0 80px #fff;
}

.description {
    opacity: 0;
    scale: 50%;
    font-family: mainfont;
    text-align: center;
    color: white;
    transform: translate(0, 50px);
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 60px #fff,
    0 0 80px #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-family: mainfont;
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #ffff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}